<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Lab</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div id="app">
        <div style="text-align:center; margin: 2em auto;">
          <label for="numStops">How many stops:</label>
          <input type="number" id="numStops" v-model="numStops" value="10">
        </div>
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"
                v-for="stop in filteredStops">
              <h5 class="card-title">{{ stop.name }}</h5>
              <p class="card-text">{{ stop.description }}</p>
              <p class="card-text">Distance: {{ stop.distance }} km</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
const app = new Vue({
  el: '#app',
  data: {
    stops: [],
    numStops: 10
  },
  computed: {
    filteredStops: function() {
      return this.stops
        .sort( (a, b) => a.distance - b.distance )
        .slice( 0, this.numStops );
    }
  }
});

fetch( 'https://utils.pauliankline.com/stops.json' )
  .then( (response) => {
    return response.json();
  }).then( (myJson) => {
    app.stops = myJson;
  });

if ( "geolocation" in navigator ) {
  navigator.geolocation.watchPosition( (position) => {
    // Equation found at: https://www.movable-type.co.uk/scripts/latlong.html
    var lat = position.coords.latitude;
    var lon = position.coords.longitude;
    var earthR = 6371; // in KM
    for( let i = 0; i < app.stops.length; i++ ) {
      let phi1 = lat * Math.PI / 180;
      let phi2 = app.stops[i].lat * Math.PI / 180;
      let dLat = (app.stops[i].lat - lat) * Math.PI / 180;
      let dLon = (app.stops[i].lon - lon) * Math.PI / 180;
      let a = Math.sin( dLat / 2 ) * Math.sin( dLat / 2 ) +
              Math.cos( phi1 ) * Math.cos( phi2 ) *
              Math.sin( dLon / 2 ) * Math.sin( dLon / 2 );
      let c = 2 * Math.atan2( Math.sqrt( a ), Math.sqrt( 1 - a ) );
      app.stops[i].distance = Math.round( earthR * c * 10 ) / 10;
    }
  });
}

    </script>
  </body>
</html>
